:root {
	--blueCop: #1e90ff;
	--megaTrucker: #f3bf4b;
	--phoenixFire: #ff2400;
	--megaAmbler: #85be94;
	--shadowX: #cea0ce;
	--wildGuardy: #7c7ebb;
	--dexter: #ffee00;
	--fletaZ: #ec664b;
	--buffaloCrush: #ea619e;
	--busterGallon: #34b7bc;
	--blackHook: #638cc7;

	--redBlitz: #ff0062;
	--cielo: #006fff;
	--musclehyde: #00c5be;
	--gigantrex: #ff5a01;
	--mukara: #ec2f59;
}

.ua span {
	--bg-size: 1000%;
	background: linear-gradient(
			90deg,
			var(--blueCop),
			var(--megaTrucker),
			var(--megaAmbler),
			var(--phoenixFire),
			var(--shadowX),
			var(--dexter),
			var(--fletaZ),
			var(--wildGuardy),
			var(--buffaloCrush),
			var(--busterGallon),
			var(--blackHook),
			var(--blueCop)
		)
		0 0 / var(--bg-size) 100%;
	color: transparent !important;
	font-weight: 500 !important;
	background-clip: text;
	-webkit-background-clip: text;
	animation: animate 20s infinite linear;
}
@keyframes animate {
	to {
		background-position: var(--bg-size) 0;
	}
}

.bold {
	font-weight: bold !important;
}
.italic {
	font-style: italic;
}
.shake,
.shake span {
	animation: shake calc(var(--random-length, 1) * 0.1) infinite;
}
@keyframes shake {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-2%) translateY(2%);
	}
	50% {
		transform: translateX(0) translateY(-2%);
	}
	75% {
		transform: translateX(2%) translateY(2%);
	}
	100% {
		transform: translateX(0) translateY(-2%);
	}
}
.shakexl,
.shakexl span {
	animation: shakexl calc(var(--random-length, 1) * 0.1) infinite;
	font-size: 1.5em;
}
@keyframes shakexl {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-3%) translateY(3%);
	}
	50% {
		transform: translateX(0) translateY(-3%);
	}
	75% {
		transform: translateX(3%) translateY(3%);
	}
	100% {
		transform: translateX(0) translateY(-3%);
	}
}
.shakexxl,
.shakexxl span {
	animation: shakexxl calc(var(--random-length, 1) * 0.1) infinite;
	font-size: 2em;
}
@keyframes shakexxl {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(-5%) translateY(5%);
	}
	50% {
		transform: translateX(0) translateY(-5%);
	}
	75% {
		transform: translateX(5%) translateY(5%);
	}
	100% {
		transform: translateX(0) translateY(-5%);
	}
}
.shake.ua span {
	animation: shake calc(var(--random-length, 1) * 0.1) infinite, animate 20s infinite linear;
}
.shakexxl.ua span {
	animation: shakexxl calc(var(--random-length, 1) * 0.1) infinite, animate 20s infinite linear;
}
.xl span {
	font-size: 1.5em;
}
.xxl span {
	font-size: 2em;
}

.sarcasm span {
	font-style: italic;
	animation: sarcasm 0.5s infinite ease-in-out;
}

.voice span {
	color: var(--mukara) !important;
	animation: voice 5s ease-in-out infinite;
	font-style: italic;
}

.flipped {
	transform: rotate(180deg);
}
.subtitleArea:has(.flipped) {
	align-items: flex-start !important;
	top: min(50%, calc(17px + var(--bottomOffset, 0px))) !important;
	height: auto !important;
}
.subtitleArea.hover:has(.flipped) {
	top: min(50%, calc(70px + var(--bottomOffset, 0px))) !important;
}

@keyframes sarcasm {
	0% {
		transform: translateY(-4%);
	}
	50% {
		transform: translateY(4%);
	}
	100% {
		transform: translateY(-4%);
	}
}

@keyframes voice {
	0% {
		transform: translateY(-2%);
	}
	50% {
		transform: translateY(2%);
	}
	100% {
		transform: translateY(-2%);
	}
}

.trinity span {
	animation: trinityMorph 2s linear;
	animation-delay: var(--random-length) !important;
	animation-fill-mode: both;
}

@keyframes trinityMorph {
	0% {
		font-size: 1em;
		color: white;
		font-family: unset;
	}
	70% {
		font-size: 1em;
		color: white;
		font-family: unset;
	}
	71% {
		font-size: 1.1em;
		font-family: monospace;
		color: var(--redBlitz);
	}
	72% {
		font-size: 1em;
		color: white;
		font-family: unset;
	}
	90% {
		font-size: 1em;
		color: white;
		transform: rotate(0deg);
		font-family: unset;
	}
	91% {
		font-size: 1.2em;
		font-family: monospace;
		transform: rotate(180deg);
		color: var(--gigantrex);
	}
	92% {
		font-size: 1em;
		color: white;
		transform: rotate(0deg);
		font-family: unset;
	}
	98% {
		font-size: 1em;
		color: white;
		font-family: unset;
	}
	99% {
		font-weight: normal;
		color: var(--musclehyde);
		font-size: 1.3em;
	}
	100% {
		color: var(--blueCop);
		font-family: monospace;
		font-weight: bold;
		font-size: 1.2em;
	}
}

.glitch span {
	animation-delay: var(--random-length) !important;
	animation: glitch var(--random-length) linear infinite;
	color: var(--redBlitz) !important;
	animation-fill-mode: both;
	font-family: monospace;
	filter: drop-shadow(0 0 5px var(--blueCop));
}
.glitch span:after {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	animation-delay: var(--random-length) !important;
	animation: glitch calc(var(--random-length) * 1.1) linear infinite;
	color: var(--phoenixFire) !important;
}

@keyframes glitch {
	0% {
		transform: translate(0);
	}
	10% {
		transform: translate(5%, -5%);
	}
	20% {
		transform: translate(-5%, 5%);
	}
	29% {
		transform: translate(-5%, -5%);
	}
	30% {
		transform: translate(5%, -5%) rotate(180deg);
		content: '1';
	}
	39% {
		transform: translate(5%, -5%) rotate(180deg);
		content: '0';
		font-weight: bold;
	}
	40% {
		transform: translate(-5%, 5%);
	}
	50% {
		transform: translate(5%, -5%);
	}
	60% {
		transform: translate(-5%, 5%);
	}
	70% {
		transform: translate(5%, -5%);
	}
	80% {
		transform: translate(-5%, 5%);
	}
	90% {
		transform: translate(5%, -5%);
	}
	100% {
		transform: translate(0);
	}
}

.youHumans .word:last-child span {
	animation: shakexl 0.2s linear infinite;
	color: var(--phoenixFire) !important;
	font-weight: bold;
	font-size: 1.5em;
	animation-fill-mode: both;
	font-family: monospace;
}

.blueShine span {
	--bg-size: 2000%;
	background: linear-gradient(45deg, var(--blueCop) 20%, white, var(--blueCop) 80%) 0 0 /
		var(--bg-size) 100%;
	color: transparent !important;
	background-clip: text;
	-webkit-background-clip: text;
	animation: animate 40s infinite linear;
}
.changeFail {
	background-color: transparent !important;
}
.changeFail > * {
	transform: rotate(5deg);
	background-color: black;
	color: var(--redBlitz) !important;
	z-index: 1;
	font-size: 1.5em;
}
.changeFail span {
	background-color: transparent;
}

.changeFail:before {
	content: 'Metal Cardbot! Change Up!';
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	bottom: 0;
	padding: 0 0.25ch;
}

/* Cardbots */
.blueCop {
	color: var(--blueCop) !important;
}
.megaTrucker {
	color: var(--megaTrucker) !important;
}
.phoenixFire {
	color: var(--phoenixFire) !important;
}
.megaAmbler {
	color: var(--megaAmbler) !important;
}
.shadowX {
	color: var(--shadowX) !important;
}
.wildGuardy {
	color: var(--wildGuardy) !important;
}
.dexter {
	color: var(--dexter) !important;
}
.fletaZ {
	color: var(--fletaZ) !important;
}
.buffaloCrush {
	color: var(--buffaloCrush) !important;
}
.busterGallon {
	color: var(--busterGallon) !important;
}
.blackHook {
	color: var(--blackHook) !important;
}
.mukara {
	color: var(--mukara) !important;
}

/* screenspace effects */
.bonkRight {
	animation: bonkRight 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes bonkRight {
	0% {
		transform: translate(0);
	}
	10% {
		transform: translate(5%, -2%);
	}
	100% {
		transform: translate(0);
	}
}
.bonkUp {
	animation: bonkUp 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes bonkUp {
	0% {
		transform: translateY(0);
	}
	10% {
		transform: translateY(-5%);
	}
	100% {
		transform: translateY(0);
	}
}
.bonkLeft {
	animation: bonkLeft 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes bonkLeft {
	0% {
		transform: translate(0);
	}
	10% {
		transform: translate(-5%, -2%);
	}
	100% {
		transform: translate(0);
	}
}
.bonkDown {
	animation: bonkDown 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes bonkDown {
	0% {
		transform: translateY(0);
	}
	10% {
		transform: translateY(5%);
	}
	100% {
		transform: translateY(0);
	}
}
.impactSmall {
	animation: impactSmall 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes impactSmall {
	0% {
		transform: translate(0);
	}
	10% {
		transform: translate(3%, 2%);
	}
	20% {
		transform: translate(-2%, 1%);
	}
	30% {
		transform: translate(-1%, 1%);
	}
	50% {
		transform: translate(0.5%, -0.5%);
	}
	70% {
		transform: translate(0.25%, -0.25%);
	}
	90% {
		transform: translate(-0.1%, -0.1%);
	}
	100% {
		transform: translate(0);
	}
}
.impact {
	animation: impact 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes impact {
	0% {
		transform: translate(0);
	}
	10% {
		transform: translate(10%, 9%);
	}
	20% {
		transform: translate(-8%, 7%);
	}
	30% {
		transform: translate(-6%, 5%);
	}
	50% {
		transform: translate(4%, -3%);
	}
	70% {
		transform: translate(2%, -1%);
	}
	90% {
		transform: translate(-1%, -1%);
	}
	100% {
		transform: translate(0);
	}
}
.screenshake {
	animation: screenshake 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}
@keyframes screenshake {
	0% {
		transform: translate(0);
	}
	25% {
		transform: translate(1%, 0.5%);
	}
	50% {
		transform: translate(-1%, -0.5%);
	}
	75% {
		transform: translate(0.5%, -0.5%);
	}
	100% {
		transform: translate(0);
	}
}
